<div class="subnav">
    <div class="pull-left" style="margin-top:-8px">
	<h4>Add/Edit Manufacturer</h4>
    </div>
</div><br>
<hr>
<form class="well form-horizontal" method="post" id="frm" action="/manufacturer/save">
	<div class="row">
		<div class="error"></div>
		<div class="span9">
			<input type="hidden" name='did' value="<%= (data.id)?data.id:''%>">
			<fieldset>
				<div class="control-group">
					<label class='control-label'>Name<span class="">*</span></label>
					<div class="controls">
						<input type="text" class="required" name="name" value="<%= (data.name)?data.name:'' %>">
					</div>
				</div>
				<div class="control-group">
					<label class='control-label'>Description</label>
					<div class="controls">
						<textarea type="text" class="span7 ckeditor" name="description"><%= (data.description)?data.description:'' %></textarea>
					</div>
				</div>
				
				<div class="form-actions">
					<button class="btn btn-primary" type="submit">Save Changes</button>
				</div>
			</fieldset>
		</div>


	</div>
</form>

<script>
$("#frm").validate();
</script>

