<div class="sapphire-general" layout="column">
   <div>
      <h2>About</h2>
		<%
		if (bcrum) {
		%>
			<ul class="breadcrumb">
		<%
			for(var x in bcrum) {
			  var css = '';
			  if (x==bcrum.length-1) {
				css = 'active';
			  }
		%>
			<li class="<%= css %>"><%- bcrum[x] %>
			<%
				if (css=='') {
			%>
				<span class="divider">|</span>
			<%
				}
			%>
			</li>
		<%
			}
		%>
			</ul>
		<%
		}
		%>


		<p>
		  SapphireJS is a full feature, Node.js based, E-Commerce CMS,
		  accommodating both content and product management within a easy
		  to curate and manage User Interface. Additionally, it is also
		  one of the first E-Commerce platforms to support AngularJS
		  Material Design User Interface, amongst other cutting edge technologies
		  featured in the platforms stack. SapphireJS ultimately aims to provide
		  e-commerce solutions that extend further than traditional web applications;
		  additionally, giving companies for the first time, easy to deploy hybrid
		  applications that can be released to both the Android and Apple marketplaces
		  in conjunction with their web stores.
		</p>

<div class="sapphire-brand-details" style="padding-left: 0; padding-right: 0;">
<h2>Our Stack - E-Commerce Gone MEAN</h2>

<div layout="row" layout-sm="column" class="sapphire-benefits" layout-padding style="margin-top: 60px;">
<div flex layout="column">
<h2>MongoDB</h2>
<p>MongoDB is the leading NoSQL database, empowering businesses to be more agile and scalable.</p>
</div>
<div flex layout="column" layout-align="center center" style="padding: 15px;"><img src="/img/mongodb.svg"></div>
</div>

<div layout="row" layout-sm="column" class="sapphire-benefits" layout-padding style="margin-top: 60px;">
<div flex flex-order-sm="2" layout="column" layout-align="center center" style="padding: 15px;"><img src="/img/expressjs.svg"></div>
<div flex flex-order-sm="1" layout-align=""column>
<h2>Express</h2>
<p>Express is a minimal and flexible node.js web application framework, providing a robust set of features for building single and multi-page, and hybrid web applications.</p>
</div>
</div>

<div layout="row" layout-sm="column" class="sapphire-benefits" layout-padding style="margin-top: 60px;">
<div flex layout="column">
<h2>AngularJS</h2>
<p>AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop.</p>
</div>
<div flex layout="column" layout-align="center center" style="padding: 15px;"><img src="/img/angularjs.svg"></div>
</div>

<div layout="row" layout-sm="column" class="sapphire-benefits" layout-padding style="margin-top: 60px;">
<div flex flex-order-sm="2" layout="column" layout-align="center center" style="padding: 15px;"><img src="/img/nodejs.svg"></div>
<div flex flex-order-sm="1" layout-align=""column>
<h2>Node.js</h2>
<p>Node.js is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications.</p>
</div>
</div>

    </div>

</div>
