<div class="sapphire-general" layout="column">
   <div>
      <h2>About</h2>
		<%
		if (bcrum) {
		%>
			<ul class="breadcrumb">
		<%
			for(var x in bcrum) {
			  var css = '';
			  if (x==bcrum.length-1) {
				css = 'active';
			  }
		%>
			<li class="<%= css %>"><%- bcrum[x] %>
			<%
				if (css=='') {
			%>
				<span class="divider">|</span>
			<%
				}
			%>
			</li>
		<%
			}
		%>
			</ul>
		<%
		}
		%>


		<p>
		  SapphireJS is a full feature, Node.js based, E-Commerce CMS,
		  accommodating both content and product management within a easy
		  to curate and manage User Interface. Additionally, it is also
		  one of the first E-Commerce platforms to support AngularJS
		  Material Design User Interface, amongst other cutting edge technologies
		  featured in the platforms stack. SapphireJS ultimately aims to provide
		  e-commerce solutions that extend further than traditional web applications;
		  additionally, giving companies for the first time, easy to deploy hybrid
		  applications that can be released to both the Android and Apple marketplaces
		  in conjunction with their web stores.
		</p>

    </div>

</div>
