<div class="sapphire-general" layout="column">
   <div>
       <h2>Contact</h2>
		<%
		if (bcrum) {
		%>
			<ul class="breadcrumb">
		<%
			for(var x in bcrum) {
			  var css = '';
			  if (x==bcrum.length-1) {
				css = 'active';
			  }
		%>
			<li class="<%= css %>"><%- bcrum[x] %>
			<%
				if (css=='') {
			%>
				<span class="divider">|</span>
			<%
				}
			%>
			</li>
		<%
			}
		%>
			</ul>
		<%
		}
		%>

	 <p>Contact information coming soon.</p>

    </div>

</div>
