<div layout="column" layout-align="center center" class="sapphire-jumbotron">
<h1>Node.js CMS & E-Commerce Platform</h1>
<span class="sub-heading">The first MEAN platform for building robust mobile and web e-commerce applications.</span>
</div>

<div class="sapphire-brand-details">
<h2>The Sapphire Advantage</h2>

<div layout="row" layout-sm="column" class="sapphire-benefits" layout-padding style="margin-top: 60px;">
<div flex layout-align=""column>
<h2>Responsive Design</h2>
<p>A mobile first approach leveraging AngularJS Material Design, providing shoppers an easy and seemingless shopping experience.</p>
</div>
<div flex><img src="/img/responsive.svg"></div>
</div>

<div layout="row" layout-sm="column" class="sapphire-benefits" layout-padding style="margin-top: 60px;">
<div flex flex-order-sm="2"><img src="/img/ecommerce.svg"></div>
<div flex flex-order-sm="1" layout-align=""column>
<h2>Business Tools</h2>
<p>Robust administrative panel that gives you analytics and insight to help you understand and grow your sales performance.</p>
</div>
</div>

<div layout="row" layout-sm="column" class="sapphire-benefits" layout-padding style="margin-top: 60px;">
<div flex layout-align=""column>
<h2>SEO Friendly</h2>
<p>Strong search engine optimization focused code base that has your business in mind, right down to the code itself.</p>
</div>
<div flex><img src="/img/seo.svg"></div>
</div>

<div layout="row" layout-sm="column" class="sapphire-benefits" layout-padding style="margin-top: 60px;">
<div flex flex-order-sm="2"><img src="/img/technology.svg"></div>
<div flex flex-order-sm="1" layout-align=""column>
<h2>Cutting-edge Technology</h2>
<p>A platform that is built for long term success and scalability, with 24/7 technical support via our online support center.</p>
</div>
</div>

</div>
