<div layout="column" layout-align="center center" class="sapphire-jumbotron">
<h1>Node.js CMS & E-Commerce Platform</h1>
<p>The first MEAN platform for builing robust mobile and web e-commerce applications.</p>
</div>

<div class="sapphire-brand-details">
<h2>The Sapphire Advantage</h2>
<md-content layout="row" layout-sm="column">
    <md-card flex class="mobile-app-ready">
      <md-card-content>
        <div class="sapphire-icon-holder-blue"><span class="fa fa-mobile"></span></div>
        <h3>Mobile Application Ready</h3>
        <p>
          Our platform builds out Anroid and Apple ready applications that your consumers can download and shop, in
	  addition to your standard website.
        </p>
      </md-card-content>
    </md-card>
    <md-card flex>
      <md-card-content>
      <div class="sapphire-icon-holder-white"><span class="fa fa-heart-o"></span></div>
        <h3>Easy Catalog Merchandising</h3>
        <p>
          Manage your entire catalog with our intuitive CMS. Track stock counts, and automatically stop selling products
	  when inventory runs out.
        </p>
      </md-card-content>
    </md-card>
    <md-card flex>
      <md-card-content>
      <div class="sapphire-icon-holder-white"><span class="fa fa-credit-card"></span></div>
        <h3>Consumer Friendly Protection</h3>
        <p>
          All credit card and transaction information is protected by the same level of security used by banks: a
	  256-bit SSL certificate.
        </p>
      </md-card-content>
    </md-card>
</md-content>
</div>
