<div layout="column" layout-align="center center" class="sapphire-jumbotron">
<h1>Node.js CMS & E-Commerce Platform</h1>
<p>The first MEAN platform for builing robust mobile and web e-commerce applications.</p>
</div>
