html,
body {
    font-family: 'Open Sans', sans-serif;
}

header .md-button {
    border-radius: 0;
}

.sapphire-header {
    background-color: rgba(165,165,165,.1);
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.sapphire-header-inner {
    margin: 0 auto;
    max-width: 980px;
    width: 100%;
}

.sapphire-logo {
    padding: 5px 0;
    width: 50px;
}

.sapphire-menu-icon {
    cursor: pointer;
}

.sapphire-icon-holder-blue {
    border: 1px solid #fff;
    border-radius: 50%;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 15px;
    position: relative;
    width: 50px;
}

.sapphire-icon-holder-blue .fa-mobile {
    color: #fff;
    display: block;
    font-size: 1.5em;
    line-height: 47px;
    text-align: center;
}

.sapphire-icon-holder-white {
    border: 1px solid rgb(33,150,243);;
    border-radius: 50%;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 15px;
    position: relative;
    width: 50px;
}

.sapphire-icon-holder-white .fa-heart-o {
    color: rgb(33,150,243);
    display: block;
    font-size: 1.25em;
    line-height: 50px;
    text-align: center;
}

.sapphire-icon-holder-white .fa-credit-card {
    color: rgb(33,150,243);
    display: block;
    font-size: 1.25em;
    line-height: 48px;
    text-align: center;
}


.sapphire-jumbotron {
    background: #eaeaea; /* Old browsers */
    background: -moz-linear-gradient(45deg, #eaeaea 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#eaeaea), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, #eaeaea 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, #eaeaea 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, #eaeaea 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(45deg, #eaeaea 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    padding: 70px 15px;
    text-align: center;
}

.sapphire-jumbotron h1 {
    color: rgb(33,150,243);
    font-size: 3.25em;
    font-weight: 300;
    margin-bottom: 0;
}

.sub-heading {
    line-height: initial;
}

.sapphire-brand-details {
    margin: 0 auto;
    max-width: 980px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.sapphire-brand-details h2 {
    color: #4b4b4b;
    font-weight: 500;
    margin-top: 30px;
    text-align: center;
}

.sapphire-brand-details h3 {
    color: #4b4b4b;
    font-weight: 500;
    margin: 0;
    text-align: center;
}

.sapphire-brand-details .mobile-app-ready {
    background-color: rgb(33,150,243);
    color: #fff;
}

.sapphire-brand-details .mobile-app-ready h3 {
    color: #fff;
}

.sapphire-brand-details md-card {
    border-radius: 0;
}

.sapphire-benefits h2 {
    color: rgb(33,150,243);
    margin-bottom: 0;
    text-align: center;
}

.checkout .md-shadow-bottom-z-1,
.checkout .md-button.md-raised:not([disabled]),
.checkout .md-button.md-fab,
.checkout .md-shadow-bottom-z-2,
.checkout .md-button.md-raised:not([disabled]):focus,
.checkout .md-button.md-raised:not([disabled]):hover,
.checkout .md-button.md-fab:not([disabled]):focus,
.checkout .md-button.md-fab:not([disabled]):hover,
.thumbnail .md-shadow-bottom-z-1,
.thumbnail .md-button.md-raised:not([disabled]),
.thumbnail .md-button.md-fab,
.thumbnail .md-shadow-bottom-z-2,
.thumbnail .md-button.md-raised:not([disabled]):focus,
.thumbnail .md-button.md-raised:not([disabled]):hover,
.thumbnail .md-button.md-fab:not([disabled]):focus,
.thumbnail .md-button.md-fab:not([disabled]):hover,
header .md-shadow-bottom-z-1,
header .md-button.md-raised:not([disabled]),
header .md-shadow-bottom-z-2,
header .md-button.md-raised:not([disabled]):focus,
header .md-button.md-raised:not([disabled]):hover {
    box-shadow: none;
    border-radius: 0;
    text-transform: initial;
}

.checkout .md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover,
.checkout .md-button.md-default-theme.md-primary.md-raised:not([disabled]):focus,
.checkout .md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover,
.checkout .md-button.md-default-theme.md-primary.md-fab:not([disabled]):focus,
.thumbnail .md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover,
.thumbnail .md-button.md-default-theme.md-primary.md-raised:not([disabled]):focus,
.thumbnail .md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover,
.thumbnail .md-button.md-default-theme.md-primary.md-fab:not([disabled]):focus,
header .md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover,
header .md-button.md-default-theme.md-primary.md-raised:not([disabled]):focus,
header .md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover,
header .md-button.md-default-theme.md-primary.md-fab:not([disabled]):focus {
    background-color: rgb(29,144,221);
}

.checkout .md-button.md-default-theme.md-primary.md-raised,
.checkout .md-button.md-default-theme.md-primary.md-fab,
.thumbnail .md-button.md-default-theme.md-primary.md-raised,
.thumbnail .md-button.md-default-theme.md-primary.md-fab,
header .md-button.md-default-theme.md-primary.md-raised {
    background-color: rgb(33,150,243);
    border-radius: 0;
}

.checkout .md-button.md-default-theme.md-raised {
    background-color: #16A085;
    color: #fff;
}

.checkout .md-button.md-default-theme.md-raised:not([disabled]):hover,
.checkout .md-button.md-default-theme.md-raised:not([disabled]):focus {
    background-color: #1ABC9C;
    color: #fff;
}

header a:hover {
    text-decoration: none;
}

header .fa-bars {
    font-size: 1.25em;
}

md-sidenav {
    min-width: 225px;
    width: 220px;
}

md-sidenav,
md-backdrop {
    position: fixed !important;
}

md-sidenav .md-toolbar-tools,
md-sidenav md-toolbar {
    height: 60px;
    min-height: 60px;
    max-height: 60px;
}

md-sidenav md-toolbar.md-default-theme {
    background-color: rgb(33,150,243);
}

md-sidenav li {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

md-sidenav li a:hover {
    text-decoration: none;
}

md-sidenav li:first-child {
    display: none;
}

md-sidenav .menu-item {
  background: none;
  border-width: 0;
  cursor: pointer;
  display: block;
  color: #333;
  font-size: inherit;
  line-height: 40px;
  list-style: none;
  max-height: 40px;
  opacity: 1;
  margin: 0;
  outline: none;
  padding: 0px 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  width: 100%;
  z-index: 1;
  -webkit-transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: max-height, background-color, opacity;
  -moz-transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: max-height, background-color, opacity;
  transition: 0.45s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: max-height, background-color, opacity;
}

md-sidenav md-content {
    padding-top: 15px;
}

hr {
    margin: 10px 0;
    border-bottom: 1px solid #eee;
    border-top: none;
}

md-sidenav .menu-item.ng-hide {
  max-height: 0;
  opacity: 0;
}

md-sidenav .menu-item:hover {
  color: #999;
}

md-sidenav .menu-item:focus {
  font-weight: bold;
}

md-sidenav .menu-item.menu-title {
  color: #888;
  font-size: 14px;
  padding-left: 16px;
  text-align: left;
  text-transform: uppercase;
  transition: color 0.35s cubic-bezier(0.35, 0, 0.25, 1);
}

md-sidenav .menu-item.menu-title:hover,
md-sidenav .menu-item.menu-title.active {
  color: #1976d2;
}

footer {
    border-top: 1px solid #eee;
    margin: 0 auto;
    margin-top: 15px;
    max-width: 980px;
    text-align: center;
    width: 100%;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer .copyright {
    border-top: 1px solid #eee;
    padding-top: 15px;
}


.sapphire-auth {
    margin: 0 auto;
    max-width: 980px;
    padding-top: 60px;
    text-align: center;
    width: 100%;
}

.sapphire-auth h2 {
    font-weight: 300;
    margin-bottom: 0;
    text-align: center;
}

.sapphire-general {
    margin: 0 auto;
    max-width: 980px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 60px;
    width: 100%;
}

.sapphire-general h2 {
    font-weight: 300;
    margin-bottom: 0;
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.breadcrumb {
    list-style: none;
    padding-left: 0;
}

.breadcrumb li {
    display: inline-block;
}

span.fa.fa-shopping-cart {
    line-height: 42px;
    font-size: 1.25em;
    padding-right: 5px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body
{
    padding: 0 15px;
}

.sidebar-nav
{
    padding: 0;
    border: none;
    width: 230px;
}

a.nounderline
{
    text-decoration: none;
}

.table td.center
{
    text-align: center;
}

.dropdown-menu
{
    max-height: 600px;
    overflow-y: auto;
}

.thumbnail img {
    width: 100%;
}

.thumbnail a {
    text-decoration: none;
}

.prodprice {
    text-align: center;
}

.mini-cart {
    text-align: center;
}

.checkout a:hover {
    text-decoration: none;
}
