			<!-- page start-->
              <section class="panel">
                  <header class="panel-heading">
                      Users
                  </header>
                  <div class="panel-body">
                      <div class="adv-table">
                          
                          <div class="space15"></div>

							<table class="display table table-bordered table-striped" id="datatable-users">
										<thead id="colls">
											<tr>
												<th width="20px;"><input type="checkbox" ></th>
												<th width="20px;">ID</th>
												<th >Email Id</th>
												<th >Firstname</th>
												<th >Usertype</th>
												<th >Created Date</th>
											</tr>
										</thead>
										
										<tbody>		
										</tbody>

							</table>
                      </div>
                  </div>
              </section>
              <!-- page end-->


<script src="/js/users/list.js"></script>
