<div style="width:100%; text-align:center">
    <form class="well form-signin" method="post" id="login_form">
	<h2>Login</h2>
        <div class="input-prepend">
            <span class="add-on"><i class="icon-large icon-envelope"></i></span>
            <input class="span3 required" id="username" type="text" name="username" placeholder="Username">
        </div>
        <div class="input-prepend">
            <span class="add-on"><i class="icon-large icon-key"></i></span>
            <input class="span3 required" id="userpass" type="password" name="userpass" placeholder="Password">
        </div>
	<div>
        <button class="btn btn-primary" type="submit" name="submit">Sign in</button><br>
	<br>
	<a href="/user/register">Are you new user?</a>
	</div>
	
    </form>
</div>
<script src="/js/user/login.js"></script>
      