<div class="sapphire-auth" layout="column">
<h2>Register</h2>
<a href="/user/login">Do you already have an account?</a>
<hr>
<div layout="column"  layout-align="start center" flex layout-fill layout-padding layout-margin>
	<form flex layout-fill action="/user/register" method="post" id="register_form" flex layout="column" style="text-align: initial;">

	<div layout layout-sm="column">

		<md-input-container flex>
		  <label>First Name</label>
		  <input type="text" name="first_name" placeholder="Enter your first name">
		</md-input-container>

		<md-input-container flex>
		  <label>Last Name</label>
		  <input type="text" name="last_name" placeholder="Enter your last name">
		</md-input-container>

	</div>

	<div layout layout-sm="column">

		<md-input-container flex>
		  <label>Username</label>
		  <input type="text" name="nickname" placeholder="Choose a username">
		</md-input-container>

		<md-input-container flex>
		  <label>Email</label>
		  <input type="text" name="email_id" placeholder="Enter your email address">
		</md-input-container>

	</div>

	<div layout layout-sm="column">

		<md-input-container flex>
		  <label>Password</label>
		  <input type="text" name="password" placeholder="Choose a password">
		</md-input-container>

		<md-input-container flex>
		  <label>Retype Password</label>
		  <input type="text" name="retypepassword" placeholder="Choose a password">
		</md-input-container>

	</div>

	<div style="clear:both"></div>

	<br>

       <button class="btn btn-primary" type="submit" align="center">Register</button>
      </form>
</div>
</div>
<script src="/js/user/register.js"></script>
